# Arquivos do Android Studio / IntelliJ
*.iml
.idea/
.gradle/
local.properties

# Diretórios de build
/build/
/app/build/
/captures/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos nativos
.externalNativeBuild/
.cxx/
